
Persistence/obj/project.nuget.cache
Persistence/obj/project.assets.json
Persistence/obj/persistence.csproj.nuget.g.targets
Persistence/obj/persistence.csproj.nuget.g.props
Persistence/obj/persistence.csproj.nuget.dgspec.json
Persistence/obj/Debug/net6.0/refint/persistence.dll
Persistence/obj/Debug/net6.0/ref/persistence.dll
Persistence/obj/Debug/net6.0/persistence.pdb
Persistence/obj/Debug/net6.0/persistence.GeneratedMSBuildEditorConfig.editorconfig
Persistence/obj/Debug/net6.0/persistence.dll
Persistence/obj/Debug/net6.0/persistence.csproj.FileListAbsolute.txt
Persistence/obj/Debug/net6.0/persistence.csproj.CoreCompileInputs.cache
Persistence/obj/Debug/net6.0/persistence.csproj.CopyComplete
Persistence/obj/Debug/net6.0/persistence.csproj.AssemblyReference.cache
Persistence/obj/Debug/net6.0/persistence.assets.cache
Persistence/obj/Debug/net6.0/persistence.AssemblyInfoInputs.cache
Persistence/obj/Debug/net6.0/persistence.AssemblyInfo.cs
Persistence/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Persistence/obj/Debug/net5.0/refint/persistence.dll
Persistence/obj/Debug/net5.0/ref/persistence.dll
Persistence/obj/Debug/net5.0/persistence.pdb
Persistence/obj/Debug/net5.0/persistence.GeneratedMSBuildEditorConfig.editorconfig
Persistence/obj/Debug/net5.0/persistence.dll
Persistence/obj/Debug/net5.0/persistence.csproj.FileListAbsolute.txt
Persistence/obj/Debug/net5.0/persistence.csproj.CoreCompileInputs.cache
Persistence/obj/Debug/net5.0/persistence.csproj.CopyComplete
Persistence/obj/Debug/net5.0/persistence.csproj.AssemblyReference.cache
Persistence/obj/Debug/net5.0/persistence.assets.cache
Persistence/obj/Debug/net5.0/persistence.AssemblyInfoInputs.cache
Persistence/obj/Debug/net5.0/persistence.AssemblyInfo.cs
Persistence/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Persistence/bin/Debug/net6.0/persistence.pdb
Persistence/bin/Debug/net6.0/persistence.dll
Persistence/bin/Debug/net6.0/persistence.deps.json
Persistence/bin/Debug/net6.0/domain.pdb
Persistence/bin/Debug/net6.0/domain.dll
Persistence/bin/Debug/net5.0/persistence.pdb
Persistence/bin/Debug/net5.0/persistence.dll
Persistence/bin/Debug/net5.0/persistence.deps.json
Persistence/bin/Debug/net5.0/domain.pdb
Persistence/bin/Debug/net5.0/domain.dll
Domain/obj/project.nuget.cache
Domain/obj/project.assets.json
Domain/obj/domain.csproj.nuget.g.targets
Domain/obj/domain.csproj.nuget.g.props
Domain/obj/domain.csproj.nuget.dgspec.json
Domain/obj/Debug/net6.0/refint/domain.dll
Domain/obj/Debug/net6.0/ref/domain.dll
Domain/obj/Debug/net6.0/domain.pdb
Domain/obj/Debug/net6.0/domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Debug/net6.0/domain.dll
Domain/obj/Debug/net6.0/domain.csproj.FileListAbsolute.txt
Domain/obj/Debug/net6.0/domain.csproj.CoreCompileInputs.cache
Domain/obj/Debug/net6.0/domain.csproj.AssemblyReference.cache
Domain/obj/Debug/net6.0/domain.assets.cache
Domain/obj/Debug/net6.0/domain.AssemblyInfoInputs.cache
Domain/obj/Debug/net6.0/domain.AssemblyInfo.cs
Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Domain/obj/Debug/net5.0/refint/domain.dll
Domain/obj/Debug/net5.0/ref/domain.dll
Domain/obj/Debug/net5.0/domain.pdb
Domain/obj/Debug/net5.0/domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Debug/net5.0/domain.dll
Domain/obj/Debug/net5.0/domain.csproj.FileListAbsolute.txt
Domain/obj/Debug/net5.0/domain.csproj.CoreCompileInputs.cache
Domain/obj/Debug/net5.0/domain.csproj.AssemblyReference.cache
Domain/obj/Debug/net5.0/domain.assets.cache
Domain/obj/Debug/net5.0/domain.AssemblyInfoInputs.cache
Domain/obj/Debug/net5.0/domain.AssemblyInfo.cs
Domain/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Domain/bin/Debug/net6.0/domain.pdb
Domain/bin/Debug/net6.0/domain.dll
Domain/bin/Debug/net6.0/domain.deps.json
Domain/bin/Debug/net5.0/domain.pdb
Domain/bin/Debug/net5.0/domain.dll
Domain/bin/Debug/net5.0/domain.deps.json
Application/obj/project.nuget.cache
Application/obj/project.assets.json
Application/obj/Debug/net6.0/refint/application.dll
Application/obj/Debug/net6.0/ref/application.dll
Application/obj/Debug/net6.0/application.pdb
Application/obj/Debug/net6.0/application.GeneratedMSBuildEditorConfig.editorconfig
Application/obj/Debug/net6.0/application.dll
Application/obj/Debug/net6.0/application.csproj.FileListAbsolute.txt
Application/obj/Debug/net6.0/application.csproj.CoreCompileInputs.cache
Application/obj/Debug/net6.0/application.csproj.CopyComplete
Application/obj/Debug/net6.0/application.csproj.AssemblyReference.cache
Application/obj/Debug/net6.0/application.assets.cache
Application/obj/Debug/net6.0/application.AssemblyInfoInputs.cache
Application/obj/Debug/net6.0/application.AssemblyInfo.cs
Application/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Application/obj/Debug/net5.0/refint/application.dll
Application/obj/Debug/net5.0/ref/application.dll
Application/obj/Debug/net5.0/application.pdb
Application/obj/Debug/net5.0/application.GeneratedMSBuildEditorConfig.editorconfig
Application/obj/Debug/net5.0/application.dll
Application/obj/Debug/net5.0/application.csproj.FileListAbsolute.txt
Application/obj/Debug/net5.0/application.csproj.CoreCompileInputs.cache
Application/obj/Debug/net5.0/application.csproj.CopyComplete
Application/obj/Debug/net5.0/application.csproj.AssemblyReference.cache
Application/obj/Debug/net5.0/application.assets.cache
Application/obj/Debug/net5.0/application.AssemblyInfoInputs.cache
Application/obj/Debug/net5.0/application.AssemblyInfo.cs
Application/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Application/obj/application.csproj.nuget.g.targets
Application/obj/application.csproj.nuget.g.props
Application/obj/application.csproj.nuget.dgspec.json
Application/bin/Debug/net6.0/persistence.pdb
Application/bin/Debug/net6.0/persistence.dll
Application/bin/Debug/net6.0/domain.pdb
Application/bin/Debug/net6.0/domain.dll
Application/bin/Debug/net6.0/application.pdb
Application/bin/Debug/net6.0/application.dll
Application/bin/Debug/net6.0/application.deps.json
Application/bin/Debug/net5.0/persistence.pdb
Application/bin/Debug/net5.0/persistence.dll
Application/bin/Debug/net5.0/domain.pdb
Application/bin/Debug/net5.0/domain.dll
Application/bin/Debug/net5.0/application.pdb
Application/bin/Debug/net5.0/application.dll
Application/bin/Debug/net5.0/application.deps.json
API/obj/staticwebassets.pack.sentinel
API/obj/project.nuget.cache
API/obj/project.assets.json
API/obj/Debug/net6.0/staticwebassets.build.json
API/obj/Debug/net6.0/refint/api.dll
API/obj/Debug/net6.0/ref/api.dll
API/obj/Debug/net6.0/project.razor.json
API/obj/Debug/net6.0/apphost.exe
API/obj/Debug/net6.0/api.pdb
API/obj/Debug/net6.0/api.MvcApplicationPartsAssemblyInfo.cs
API/obj/Debug/net6.0/api.MvcApplicationPartsAssemblyInfo.cache
API/obj/Debug/net6.0/api.genruntimeconfig.cache
API/obj/Debug/net6.0/api.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/net6.0/api.dll
API/obj/Debug/net6.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net6.0/api.csproj.CoreCompileInputs.cache
API/obj/Debug/net6.0/api.csproj.CopyComplete
API/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net6.0/API.assets.cache
API/obj/Debug/net6.0/api.AssemblyInfoInputs.cache
API/obj/Debug/net6.0/api.AssemblyInfo.cs
API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
API/obj/Debug/net5.0/staticwebassets/API.StaticWebAssets.Manifest.cache
API/obj/Debug/net5.0/refint/API.dll
API/obj/Debug/net5.0/ref/API.dll
API/obj/Debug/net5.0/project.razor.json
API/obj/Debug/net5.0/apphost.exe
API/obj/Debug/net5.0/API.RazorTargetAssemblyInfo.cache
API/obj/Debug/net5.0/API.pdb
API/obj/Debug/net5.0/API.MvcApplicationPartsAssemblyInfo.cs
API/obj/Debug/net5.0/API.MvcApplicationPartsAssemblyInfo.cache
API/obj/Debug/net5.0/API.genruntimeconfig.cache
API/obj/Debug/net5.0/api.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/net5.0/API.dll
API/obj/Debug/net5.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net5.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net5.0/API.csproj.CopyComplete
API/obj/Debug/net5.0/api.csproj.AssemblyReference.cache
API/obj/Debug/net5.0/api.assets.cache
API/obj/Debug/net5.0/api.AssemblyInfoInputs.cache
API/obj/Debug/net5.0/api.AssemblyInfo.cs
API/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
API/obj/API.csproj.nuget.g.targets
API/obj/api.csproj.nuget.g.props
API/obj/API.csproj.nuget.dgspec.json
API/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
API/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
API/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
API/bin/Debug/net6.0/SQLitePCLRaw.provider.e_sqlite3.dll
API/bin/Debug/net6.0/SQLitePCLRaw.core.dll
API/bin/Debug/net6.0/SQLitePCLRaw.batteries_v2.dll
API/bin/Debug/net6.0/runtimes/win-x86/native/e_sqlite3.dll
API/bin/Debug/net6.0/runtimes/win-x64/native/e_sqlite3.dll
API/bin/Debug/net6.0/runtimes/win-arm64/native/e_sqlite3.dll
API/bin/Debug/net6.0/runtimes/win-arm/native/e_sqlite3.dll
API/bin/Debug/net6.0/runtimes/osx-x64/native/libe_sqlite3.dylib
API/bin/Debug/net6.0/runtimes/osx-arm64/native/libe_sqlite3.dylib
API/bin/Debug/net6.0/runtimes/linux-x86/native/libe_sqlite3.so
API/bin/Debug/net6.0/runtimes/linux-x64/native/libe_sqlite3.so
API/bin/Debug/net6.0/runtimes/linux-s390x/native/libe_sqlite3.so
API/bin/Debug/net6.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
API/bin/Debug/net6.0/runtimes/linux-mips64/native/libe_sqlite3.so
API/bin/Debug/net6.0/runtimes/linux-armel/native/libe_sqlite3.so
API/bin/Debug/net6.0/runtimes/linux-arm64/native/libe_sqlite3.so
API/bin/Debug/net6.0/runtimes/linux-arm/native/libe_sqlite3.so
API/bin/Debug/net6.0/runtimes/alpine-x64/native/libe_sqlite3.so
API/bin/Debug/net6.0/persistence.pdb
API/bin/Debug/net6.0/persistence.dll
API/bin/Debug/net6.0/Microsoft.OpenApi.dll
API/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Sqlite.dll
API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
API/bin/Debug/net6.0/Microsoft.Data.Sqlite.dll
API/bin/Debug/net6.0/MediatR.Extensions.Microsoft.DependencyInjection.dll
API/bin/Debug/net6.0/MediatR.dll
API/bin/Debug/net6.0/Humanizer.dll
API/bin/Debug/net6.0/domain.pdb
API/bin/Debug/net6.0/domain.dll
API/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
API/bin/Debug/net6.0/AutoMapper.dll
API/bin/Debug/net6.0/appsettings.json
API/bin/Debug/net6.0/appsettings.Development.json
API/bin/Debug/net6.0/application.pdb
API/bin/Debug/net6.0/application.dll
API/bin/Debug/net6.0/api.runtimeconfig.json
API/bin/Debug/net6.0/api.pdb
API/bin/Debug/net6.0/api.exe
API/bin/Debug/net6.0/api.dll
API/bin/Debug/net6.0/api.deps.json
API/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
API/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
API/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
API/bin/Debug/net5.0/SQLitePCLRaw.provider.dynamic_cdecl.dll
API/bin/Debug/net5.0/SQLitePCLRaw.nativelibrary.dll
API/bin/Debug/net5.0/SQLitePCLRaw.core.dll
API/bin/Debug/net5.0/SQLitePCLRaw.batteries_v2.dll
API/bin/Debug/net5.0/runtimes/win-x86/native/e_sqlite3.dll
API/bin/Debug/net5.0/runtimes/win-x64/native/e_sqlite3.dll
API/bin/Debug/net5.0/runtimes/win-arm64/native/e_sqlite3.dll
API/bin/Debug/net5.0/runtimes/win-arm/native/e_sqlite3.dll
API/bin/Debug/net5.0/runtimes/osx-x64/native/libe_sqlite3.dylib
API/bin/Debug/net5.0/runtimes/linux-x86/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-x64/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-mips64/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-armel/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-arm64/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-arm/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/alpine-x64/native/libe_sqlite3.so
API/bin/Debug/net5.0/persistence.pdb
API/bin/Debug/net5.0/persistence.dll
API/bin/Debug/net5.0/Microsoft.OpenApi.dll
API/bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
API/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Sqlite.dll
API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
API/bin/Debug/net5.0/Microsoft.DotNet.PlatformAbstractions.dll
API/bin/Debug/net5.0/Microsoft.Data.Sqlite.dll
API/bin/Debug/net5.0/MediatR.Extensions.Microsoft.DependencyInjection.dll
API/bin/Debug/net5.0/MediatR.dll
API/bin/Debug/net5.0/Humanizer.dll
API/bin/Debug/net5.0/domain.pdb
API/bin/Debug/net5.0/domain.dll
API/bin/Debug/net5.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
API/bin/Debug/net5.0/AutoMapper.dll
API/bin/Debug/net5.0/appsettings.json
API/bin/Debug/net5.0/appsettings.Development.json
API/bin/Debug/net5.0/application.pdb
API/bin/Debug/net5.0/application.dll
API/bin/Debug/net5.0/API.runtimeconfig.json
API/bin/Debug/net5.0/API.runtimeconfig.dev.json
API/bin/Debug/net5.0/API.pdb
API/bin/Debug/net5.0/API.exe
API/bin/Debug/net5.0/API.dll
API/bin/Debug/net5.0/API.deps.json
